/* Reset des marges et des paddings par défaut */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

/* Style de base pour le corps de la page */
body, html, #root, #container-root {
  min-height: 100vh;
  max-width: 100vw;
}